<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  <div class="single-container">
    <header class="single-header">
      <h1>
        <a href="/">
          <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1516044782">
        </a>
      </h1>
    </header>
    <main class="single-main">
      <section class="signup-container">
        <h2 class="signup-head">新規会員登録</h2>
      <div class="signup-inner">
        <div class="signup-content">
          <a href="/" class="btn-default btn-mail">
            <i class="far fa-envelope"></i>メールアドレスで登録
          </a>
          <button id="fb-login" class="btn-default btn-sns btn-sns-fb">
            <i class="fab fa-facebook"></i>facebookで登録
          </button>
          <button id="google-login" class="btn-default btn-sns btn-sns-google">
            <i class="fab fa-google-plus-g"></i>Googleで登録
          </button>
        </div>
      </div>
      </section>
    </main>
    <footer class="single-footer">
      <nav>
        <ul>
          <li>
            <a href="/">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/">メルカリ利用規約</a>
          </li>
          <li>
            <a href="/">特定商取引に関する表記</a>
          </li>
        </ul>
      </nav>
      <a href="/" class="single-footer-logo">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2935426046">
      </a>
      <p>
        <small>©︎ 2019 Mercari</small>
      </p>
    </footer>
  </div>
