  <div class="single-container">
    <header class="single-header">
      <h1>
        <a href="/">
          <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1516044782">
        </a>
      </h1>
    </header>
    <main class="single-main">
      <div class="login-panel">
        <div class="login-no-account">
          <p>アカウントをお持ちでない方はこちら</p>
          <%= link_to "新規会員登録", new_user_registration_path %>
        </div>
        <div class="login-form-inner">
          <button id="fb-login" class="btn-default btn-sns btn-sns-fb">
            <i class="fab fa-facebook"></i>facebookでログイン
          </button>
          <button id="google-login" class="btn-default btn-sns btn-sns-google">
            <i class="fab fa-google-plus-g"></i>Googleでログイン
          </button>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="login-form-inner">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: "input-default login-input-text" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login-input-text input-default" %>
            </div>
            <div class="rc-anchor"></div>
            <%= f.submit "ログイン", class: "login-submit btn-default btn-red" %>
            <input type="hidden" name="" value="">
            <a href="">パスワードをお忘れの方</a>
          </div>
        <% end %>
      </div>
    </main>
    <footer class="single-footer">
      <nav>
        <ul>
          <li>
            <a href="/">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/">メルカリ利用規約</a>
          </li>
          <li>
            <a href="/">特定商取引に関する表記</a>
          </li>
        </ul>
      </nav>
      <a href="/" class="single-footer-logo">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2935426046">
      </a>
      <p>
        <small>©︎ 2019 Mercari</small>
      </p>
    </footer>
  </div>
