<div class="container">
  <div class="main-contents">
    <section>
      <div class="slider">
        <div><%= image_tag("趣味をはじめよう.png") %></div>
        <div><%= image_tag("開運おみくじ.png") %></div>
        <div><%= image_tag("往年の名作.png") %></div>
        <div><%= image_tag("フリマアプリ.png") %></div>
        <div><%= image_tag("メルカリしようよ.png") %></div>
      </div>
    </section>
    <section class="pickup-container">
      <h2 class="pickup-head">ピックアップカテゴリー</h2>
        <%= render partial: "pickup" %>
        <!-- 変数を使用するためにlocalsの記入をお願いします -->
      <h2 class="pickup-head">ピックアップブランド</h2>
        <%= render partial: "pickup" %>
        <!-- 変数を使用するためにlocalsの記入をお願いします -->
    </section>
  </div>

  <footer class="item-footer">
    <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>
  </footer>

  <%= render partial: "footer" %>
  <%= render partial: "footer-sell-btn" %>

</div>
