<div class="container">
  <%= render partial: "header" %>
  <div class="main-contents">
    <section>
      <%= image_tag("メルカリしようよ.png") %>
    </section>
    <section class="pickup-container">
      <h2 class="pickup-head">ピックアップカテゴリー</h2>
        <%= render partial: "pickup" %>
        <!-- 変数を使用するためにlocalsの記入をお願いします -->
      <h2 class="pickup-head">ピックアップブランド</h2>
        <%= render partial: "pickup" %>
        <!-- 変数を使用するためにlocalsの記入をお願いします -->
    </section>
  </div>
  <%= render partial: "footer" %>
  <%= render partial: "footer-sell-btn" %>

</div>
