<%= render partial: "/items/header" %>
<div class="container">
  <div class="main-contents">
    <section>
      <div class="slider">
        <div><%= image_tag("趣味をはじめよう.png") %></div>
        <div><%= image_tag("開運おみくじ.png") %></div>
        <div><%= image_tag("往年の名作.png") %></div>
        <div><%= image_tag("フリマアプリ.png") %></div>
        <div><%= image_tag("メルカリしようよ.png") %></div>
      </div>
    </section>
    <section class="pickup-container">
      <h2 class="pickup-head">ピックアップカテゴリー</h2>
      <section class="items-box-container">
        <a href="/">
          <h3 class="text-center">
            <%= "#{Category.find(1).name}新着アイテム" %>
          </h3>
        </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsLadies } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Category.find(2).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsMens } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Category.find(3).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsKids } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Category.find(4).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsCosme } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
      <h2 class="pickup-head">ピックアップブランド</h2>
      <section class="items-box-container">
        <a href="/">
          <h3 class="text-center">
            <%= "#{Brand.find(1).name}新着アイテム" %>
          </h3>
        </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsAdidas } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Brand.find(3).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsLacoste } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Brand.find(2).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsChanel } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
        <section class="items-box-container">
          <a href="/">
            <h3 class="text-center">
              <%= "#{Brand.find(4).name}新着アイテム" %>
            </h3>
          </a>
          <div class="items-box-content">
            <%= render partial: "pickups", locals: { pretial_items: @itemsShips } %>
            <!-- 変数を使用するためにlocalsの記入をお願いします -->
          </div>
          <div class="view-all">
            <a href="/">すべての商品を見る</a>
          </div>
        </section>
      </section>
    </section>
  </div>

  <footer class="item-footer">
    <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>
  </footer>

  <%= render partial: "footer" %>
  <%= render partial: "footer-sell-btn" %>

</div>
