<%= render partial: "/items/header" %>
<%- breadcrumb :show_items %>
<%= breadcrumbs pretext: " ", separator: " #{content_tag(:i, '', :class=>'fa fa-caret-right')} ", style: :ul %>
    <div class="items">
      <section class="items_item-detail">
        <h1 class="items_item-detail_item-name">
          nao様専用 アディゼロサブ2 24.5センチ
        </h1>
        <p class="items_item-detail_item-subtext">
          『nao様専用 アディゼロサブ2 24.5センチ』は、85回の取引実績を持つGIANTSさんから出品されました。アディダス（陸上競技/スポーツ・レジャー）の商品で、佐賀県から2~3日で発送されます。
        </p>
        <div class="items_item-detail_item-container clearfix">
          <div class="items_item-detail_item-container_photo-box">
           <div id="carousel-prev">
           </div>
           <div id="carousel-next">
           </div>
              <div id="carousel-panel">
                <div id="carousel-wrapper">
                  <div id="carousel-inner">
                    <ul class="carousel-column">
                      <li><%= image_tag("watch.png", class: "photo_main") %></li>
                    </ul>
                    <ul class="carousel-column">
                      <li><%= image_tag("adidas-detail1.png", class: "photo_main") %></li>
                    </ul>
                    <ul class="carousel-column">
                      <li><%= image_tag("adidas-detail2.png", class: "photo_main") %></li>
                    </ul>
                    <ul class="carousel-column">
                      <li><%= image_tag("adidas-detail3.png", class: "photo_main") %></li>
                    </ul>
                  </div>
                </div>
                <div id="carousel-indicator">
                  <ul>
                    <li><%= image_tag("adidas-detail1.png", class: "active") %></li>
                    <li><%= image_tag("adidas-detail2.png") %></li>
                    <li><%= image_tag("adidas-detail3.png") %></li>
                    <li><%= image_tag("watch.png") %></li>
                  </ul>
                </div>
              </div>
            </div>
          <div class="items_item-detail_item-container_item-table">
            <table>
              <tr>
                <th class="seller">出品者</th>
                <td>
                  <a href="#">GIANTS</a>
                  <div class="clearfix">
                    <div class="item-user-ratings">
                      <i class="icon-good">笑</i>
                      <span>85</span>
                    </div>
                    <div class="item-user-ratings">
                      <i class="icon-nomal">並</i>
                      <span>0</span>
                    </div>
                    <div class="item-user-ratings">
                      <i class="icon-bad">不</i>
                      <span>0</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="categoly">カテゴリー</th>
                <td><a href="#">スポーツ・レジャー<br>> その他のスポーツ<br>> 陸上競技</a></td>
              </tr>
              <tr>
                <th>ブランド</th>
                <td><a href="#"><div>アディダス</div></a></td>
              </tr>
              <tr>
                <th>商品の状態</th>
                <td>未使用に近い</td>
              </tr>
              <tr>
                <th>配送料の負担</th>
                <td>送料込み(出品者負担)</td>
              </tr>
              <tr>
                <th>配送の方法</th>
                <td>らくらくメルカリ便</td>
              </tr>
              <tr>
                <th>配送元地域</th>
                <td><a href="#">佐賀県</a></td>
              </tr>
              <tr>
                <th>配送日の目安</th>
                <td>2~3日で発送</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="items_item-detail_pricebox">
          <div class="items_item-detail_pricebox-container">
            <span class="items_item-detail_pricebox_price">
              ¥10,000
            </span>
            <span class="items_item-detail_pricebox_tax">
              (税込)
            </span>
            <span class="items_item-detail_pricebox_delivary">
              送料込み
            </span>
          </div>
        </div>
        <a href="#" class="items_item-detail_button-for-buy">
          購入画面に進む
        </a>
        <div class="items_item-detail_main-text">
          <p>サイズが合わなくて、なくなく出品しました。<br>
             私は、3キロ試し履きしただけです。
          </p>
        </div>
        <div class="items_item-detail__lastButton-container clearfix">
          <div class="items_item-detail__lastButton-container__left">
            <a class="items_item-detail__lastButton-container__left__button" href="#">♡ いいね！ 3</a>
            <a class="items_item-detail__lastButton-container__left__button" href="#">🏴 不適切な商品の報告</a>
          </div>
          <div class="items_item-detail__lastButton-container__right">
            <a href="#">🗝　あんしん・あんぜんへの取り組み</a>
          </div>
        </div>
      </section>
      <section class="item-comment">
        <div class="item-comment__wrapper">
          <ul class="item-comment__wrapper__comments">
            <li class="item-comment__wrapper__comments__comment clearfix">
              <a class="item-comment__wrapper__comments__comment__img" hrer="#">
                <div class="item-comment__wrapper__comments__comment__img-box">
                  <img class="item-comment__wrapper__comments__comment__img-box__img">画
                </div>
                <figcaption  class="item-comment__wrapper__comments__comment__img-caption">
                  バスケットマン
                </figcaption>
              </a>
              <div class="item-comment__wrapper__comments__comment__continer">
                <div class="item-comment__wrapper__comments__comment__continer-text">
                  ここにコメントが入ります！<br>
                  お願いします！もう後1000円安くしてください！
                </div>
                <div class="item-comment__wrapper__comments__comment__continer-time">
                  🕛17時間前
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="item-comment__formset">
          <form class="item-comment__formset__form">
            <p class="item-comment__formset__form-caution">
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            </p>
            <textarea class="item-comment__formset__form-textarea" name="">
            </textarea>
            <button class="item-comment__formset__form-btn" type="submit">
              <span class="item-comment__formset__form-btn-text">コメントする</span>
            </button>
          </form>
        </div>
      </section>
      <ul class="another-item__links clearfix">
        <li class="another-item__links__left">
          <a href="#"> &lt; adidas アディダス スーパースター 9 1/2 27.5㌢ US</a>
        </li>
        <li class="another-item__links__right">
          <a href="#">VOX ワウペダル V845 &gt;</a>
        </li>
      </ul>
      <section class="sns-logo">
          <ul class="sns-logo_wrapper clearfix">
            <li class="sns-logo_wrapper__item">
              <a href="#"><%= image_tag("facebook.png") %></a>
            </li>
            <li  class="sns-logo_wrapper__item">
              <a href="#"><%= image_tag("twitter.png") %></a>
            </li≈>
            <li class="sns-logo_wrapper__item">
              <a href="#"><%= image_tag("pinterest.png") %></a>
            </li>
          </ul>
      </section>
      <section class="item_user_another-items">
        <h2 class="item_user_another-items_header">
          <a class="item_user_another-items_header_a" href="#">米騒動さんのその他の出品</a>
        </h2>
        <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
            <a href="#">
              <%= image_tag("user-another1.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
              </a>
            </div>
            <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another2.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another3.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("watch.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
        </div>
      </section>
      <section class="item_another-items">
        <h2 class="item_user_another-items_header space">
          <a class="item_user_another-items_header_a" href="#">アディダスの商品 その他のスニーカー</a>
        </h2>
        <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another3.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another1.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another2.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another1.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("watch.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
            <div class="item_user_another-items__wrapper clearfix">
          <div class="item_user_another-items__wrapper-item-box" >
              <%= image_tag("user-another3.png", class: "item_user_another-items__wrapper-item-box__photo") %>
              <div class="item_user_another-items_item-box__text">
                <h3 class="item_user_another-items_item-box__text_name">
                  NIKE ズームフライ 25.0
                </h3>
                <div class="item_user_another-items_item-box__text_price-box clearfix">
                  <div class="item-box__text_price-box__price">
                    ¥6,000
                  </div>
                  <div class="item-box__text_price-box__favorite">
                    <i class="item-box__text_price-box__favorite_icon">
                      ♡
                    </i>
                    <div class="item-box__text_price-box__favorite_number">
                      4
                    </div>
                  </div>
                  <p class="item-box__text_price-box__tax">(税込)</p>
                </div>
              </div>
            </div>
      </section>
    </div>
<footer class="item-footer">
  <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>

</footer>
<%= render partial: "footer" %>
<%= render partial: "footer-sell-btn" %>
